.profile__edit-button {
  width: 24px;
  height: 24px;
  transition: opacity .3s linear;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    position: absolute;
    top: 7px;
    right: -28px;
    width: 18px;
    height: 18px;
  }
}