.popup__close {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 58px;
  height: 58px;
  padding: 0;
  background-color: transparent;
  background: url(../../../images/close.svg);
  background-size: contain;
  border: none;
  transition: opacity .3s linear;
}

.popup__close:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .popup__close {
    top: -50px;
    right: 0;
    width: 38px;
    height: 38px;
  }
}